@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html {background-color: rgb(17, 22, 21)}

@mixin main-colors {
  background-color: rgb(17, 22, 21);
  color: #2a89e2;
  
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

