@import '../../styles.scss';

input {
  &.scale-input [type='text'] {
    width: 300px;
    }
}

body {
  &.form-color {
    @include main-colors;
    }
}

d {
  &.btn.btn-primary {
    text-align: center;
  }
}
