@import '../../styles.scss';

input {
  &.scale-input [type='text'] {
    width: 300px;
    }
}

body {
  &.form-color {
    @include main-colors;
    }
}

div {
  &.butt {
    margin-left: auto;
    margin-right: auto;
    margin-top: .1%;
    position: relative;
    text-align: center;
  }
}
