<div class="container">
  <audio id="correctSound" src="../../assets/ding.wav" preload="auto"></audio>
  <audio id="wrongSound" src="../../assets/WrongAnswer.wav" preload="auto"></audio>
  <form>
    <div style="text-align:center">
      
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" >
        <input 
        class="scaleInput" 
        type="text" 
        [(ngModel)]="typeKey"     
        [ngModelOptions]="{standalone: true}"> 
        <!-- <h1 *ngIf="dataPassed else errors">Key: {{ test }}</h1> -->
        <h4>Your Key Spelling is {{ printSpelling() }}</h4>
        
        <button class="btn btn-primary" (click)="getKeyClass(typeKey)">Check Your Key Spelling</button>
        <br><br>  
        
        <!-- <h3 *ngIf="wrongInput">I'm sorry, please try again</h3> -->
      </div>
      
    </div>
  </form>  
</div>

