<app-menu></app-menu>

<form [formGroup]="form" (submit)="submit(form.value)">
  <div style="text-align:center">
    <div *ngFor="let keyName of keyNames.name; let i=index">
      <input type="checkbox" id="" name="key" value="C" [(ngModel)]="C" [ngModelOptions]="{standalone: true}">
      <label for="pickKey">C Major</label>
      <input type="checkbox" id="" name="key" value="G">
      <label for="pickKey">G Major</label>
      <input type="checkbox" id="" name="key" value="D">
      <label for="pickKey">D Major</label>
      <input type="checkbox" id="" name="key" value="A">
      <label for="pickKey">A Major</label>
      <input type="checkbox" id="" name="key" value="E">
      <label for="pickKey">E Major</label>
      <input type="checkbox" id="" name="key" value="B">
      <label for="pickKey">B Major</label>
      <input type="checkbox" id="" name="key" value="F#">
      <label for="pickKey">F# Major</label>
      <input type="checkbox" id="" name="key" value="C#">
      <label for="pickKey">C# Major</label>
      <input type="checkbox" id="" name="key" value="F">
      <label for="pickKey">F Major</label>
      <input type="checkbox" id="" name="key" value="Bb">
      <label for="pickKey">Bb Major</label>
      <input type="checkbox" id="" name="key" value="Eb">
      <label for="pickKey">Eb Major</label>
      <input type="checkbox" id="" name="key" value="Ab">
      <label for="pickKey">Ab Major</label>
      <input type="checkbox" id="" name="key" value="Db">
      <label for="pickKey">Db Major</label>
      <input type="checkbox" id="" name="key" value="Gb">
      <label for="pickKey">Gb Major</label>
      <input type="checkbox" id="" name="key" value="Cb">
      <label for="pickKey">Cb Major</label>
    </div>
    <!-- <div>
      <label ng-repeat="keys in ['C', 'G', 'D', 'A']">
        <input type="checkbox" checklist-model="selectedKeys" checklist-value="keys"> {{ tyepKey }}
      </label>
    </div> -->
    
    <div>
      <button type="submit" class="btn btn-primary" (click)="startKeyDrill()">Start the Key Certainty Drill</button>
      <h1 *ngIf="dataPassed else errors">Keys: {{ form.value }}</h1>
    </div>
  </div>
</form>