<app-menu></app-menu>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div style="text-align:center">
    <div>
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ keyNames.name }}
      </label>
      <!-- <input type="checkbox" [formControlName]="i" name="G" value="G">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" for="G">G Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="D">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" for="D">D Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="A">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" for="A">A Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="E"> 
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" for="E">E Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="B">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" for="B">B Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="F#">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" >F# Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="C#">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" >C# Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="F">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index">F Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="Bb">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index">Bb Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="Eb">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" >Eb Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="Ab">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" >Ab Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="Db">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" for="Db">Db Major</label>
      <input type="checkbox" [formControlName]="i" name="key" value="Gb">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index" for="Gb">Gb Major</label>
      <input type="checkbox" [formControlName]="i" name="Cb" value="Cb">
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index">Cb Major</label> -->
    </div>
    <!-- <div>
      <label ng-repeat="keys in ['C', 'G', 'D', 'A']">
        <input type="checkbox" checklist-model="selectedKeys" checklist-value="keys"> {{ tyepKey }}
      </label>
    </div> -->
    
    <div>
      <button  class="btn btn-primary">Start the Key Certainty Drill</button>
      
    </div>
  </div>
</form>