@import '../../styles.scss';


body.form-color {
  @include main-colors;
  font-family: Gill Sans, sans-serif;
}

img.front-page-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

section.container.jumbotron {
  background-color: lavender;
  text-align: left;
  width: 40%;
  align-self: left;
}
div.jumbotron {
  
}

