 <app-menu></app-menu>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div style="text-align:center">
    <div>
      <label formArrayName="keyNames" *ngFor="let keyName of form.controls.keyNames.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        <h5 [style.margin-left]="'20px'">{{ keyNames[i].name }}</h5>
      </label>
    </div>
    <div>
      <button   class="btn btn-primary" (click)="keysToDrill()">Start the Key Certainty Drill</button>
      <h4>{{ keysToDrill() }}</h4>
      <h3 *ngIf="dataPassed else errors">Starting Key: {{  getRandomKey() }}</h3>

    </div>
  </div>
</form>