@import '../../styles.scss';


body.form-color {
  @include main-colors;
  font-family: Gill Sans, sans-serif;
}

img.front-page-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

section.container {
  background-color: pink;
  text-align: left;
  padding-left: 20px;

  width: 40%;

}
div.jumbotron {
  
}

