@import '../../styles.scss';


body.form-color {
  @include main-colors;
  font-family: Gill Sans, sans-serif;
}

img {
  &.front-page-pic {
    display: block;
    height: auto;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 100%;
  }
}

section {
  &.container-fluid {

  
    background-color: #7FC1DE;
    font-size: 8vw;
    max-width: 1280px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: left;    
  }
}

.directions {
  padding-bottom: 20px;
}

